html,
body {
  /* 阻止回弹效果 */
  overscroll-behavior: none;
}
body {
  font-family: 'PingFangSC-Regular', 'Microsoft YaHei', Courier, monospace;
  background-color: transparent;
}
#root {
  overflow: hidden;
  padding: 0;
}
