html,
body {
  /* 阻止回弹效果 */
  overscroll-behavior: none;
}
body {
  font-family: 'PingFangSC-Regular', 'Microsoft YaHei', Courier, monospace;
  background-color: transparent;
  overflow: hidden;
}
#root {
  overflow: hidden;
  padding: 0;
}

.legao-notice .legao-message__content--in {
  font-size: 13px !important;
  padding: 4px 10px !important;
  margin-top: 10px !important;
}
